// max-wdth container
$container-max-width: 1440px !default;

// padding size
$grid-gap: 30px !default;
$grid-gap-side: $grid-gap / 2;

// quantity columns
$grid-columns: 12 !default;

// control points
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
) !default;